
<table border="1" style="width: 100%">
  <tr>
    <td colspan="3" style="text-align: center">
      <router-outlet name="header"></router-outlet>
    </td>
  </tr>
  <tr>
    <td style="width: 20%">
      <app-menu></app-menu>
    </td>
    <td>
        <router-outlet></router-outlet>
    </td>
    <td style="width: 35%">
        <router-outlet name="sidebar"></router-outlet>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="text-align: center">
      <router-outlet name="footer"></router-outlet>
    </td>
  </tr>
</table>
